In [27]:
import json 
import pandas as pd

In [28]:
def load_json(filepath):
    """
    --function to read json file 
    """
    try:
        with open(filepath) as file:
            json_file = json.load(file)
        return json_file
    except FileNotFoundError:
        print('this file is not found')

In [29]:
data = load_json('../Data/global_design_data.json')

In [30]:
data_list = list()

for game_key in data:
    for auto_id in data[game_key]:
        d = list()
        
        try: 
            d.append(game_key + '/' + auto_id)
            d.append(",".join(data[game_key][auto_id]['labels']['engagement']))
            d.append(",".join(data[game_key][auto_id]['text']['engagement']))
            d.append(",".join(data[game_key][auto_id]['colors']['engagement']))
            d.append(data[game_key][auto_id]['videos_data']['has_video'])
            d.append(data[game_key][auto_id]['eng_type']['eng_type'])
            d.append(data[game_key][auto_id]['direction']['direction'])
            d.append(data[game_key][auto_id]['adunit_sizes']['size_x'])
            d.append(data[game_key][auto_id]['adunit_sizes']['size_y'])
        except KeyError:
            d.append(None)
        
        data_list.append(d)

cols = ['game_key', 'labels', 'text', 'colors', 'video_data', 'eng_type','direction', 'adunit_size_x','adunit_size_y']
global_design_data = pd.DataFrame(data_list,columns=cols)

In [31]:
global_design_data

,game_key,labels,text,colors,video_data,eng_type,direction,adunit_size_x,adunit_size_y
0,f910338e60315f02812b05e932068f47/1028d033d74dd...,"Asphalt,Tarmac,Road,Runway","Amazing Hong Kong,air,deals!,Swipe Up,BEST,OF ...","1,2,3,4,5,6,7,8,9,10",0,swipe,up,NaN,NaN
1,444e104ea378baae87997c41eec5b2ff/9e1c545a4b490...,,"OREO BIEDO,BSEEJOREO,OREO,...,1997 Nintendo, C...","1,2,3,4,5,6,7,8,9,10",0,None,None,NaN,NaN
2,444e104ea378baae87997c41eec5b2ff/e7370ccd417a5...,,"OREO DD,BSELEIJOREO,OREO ...,1997 Nintendo, Cr...","1,2,3,4,5,6,7,8,9,10",0,None,None,NaN,NaN
3,988c2b4ece7a909bccc88bc7d3168348/a034c30acd465...,"Person,Human,Face,Dating",1001,"1,2,3,4,5,6,7,8,9,10",0,None,None,NaN,NaN
4,988c2b4ece7a909bccc88bc7d3168348/8fd373d2d72b9...,"Human,Person,Face,Dating",10,"1,2,3,4,5,6,7,8,9,10",0,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...
996,adunit-the-angry-birds-2-mpu/504617ef12fd64fd5921,"Outdoors,Nature","THE,BIRD,ANGRY,MOVIE,SNEAKS IN AUG 30- SEPT 1,...","1,2,3,4,5,6,7,8,9,10",0,swipe,no direction,NaN,NaN
997,adunit-clinica-forticus-brazil-mob/c83181d7b16...,"Person,Human,Hand","CLINICA,FORTIUS,CERVICAL,LOMBAR,JOELHO,DOR OU ...","1,2,3,4,5,6,7,8,9,10",1,None,None,NaN,NaN
998,25a1fa274cb8a457064b0c829cf4731f/b10455bdab657...,,"CONNECT THE DOTS,to see how you can yConnected","1,2,3,4,5,6,7,8,9,10",1,None,None,NaN,NaN
999,03030ef7ac15448057777032d26d5474/56fef66951b3f...,"Cocktail,Alcohol,Beverage,Drink,Martini","TOP GUNE,TAP THE GLASS,for the 80s","1,2,3,4,5,6,7,8,9,10",1,tap,no direction,600.0,900.0
1000,4fadbbfc2d8dfe3c480064bede98600d/09967af3727fb...,,"MICHAEL KORS,WONDERLUST,Jewy awl,ewI eiwg ijlo...","1,2,3,4,5,6,7,8,9,10",1,None,None,NaN,NaN

In [32]:
global_design_data.to_csv('../Data/global_design_data.csv',index=False)